.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Git und OS-spezifisches Zeug
.git/
.gitignore
.DS_Store
Thumbs.db

# Lizenz evtl. drinlassen, je nach Policy
# LICENSE
